@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&family=Dosis:wght@400;500;600;700&display=swap");

.timer {
  position: absolute;
  left: 33%;
  font-weight: 500;
  color: #fff;
  top: 2%;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Changa", sans-serif;
  font-size: 4.1em;

  & div:first-child {
    width: 360px;
  }

  .hour {
    margin-left: 0;
  }

  span {
    width: 5em;
    margin: 0 20px;
    text-align: center;
  }

  .am-pm {
    font-size: 0.8em;
  }
}

.current-date {
  font-family: "Dosis", sans-serif;
  font-size: 3em;
  // margin-top: 20px;

  .month {
    margin-left: 10px;
  }

  .year {
    margin-left: 10px;
  }
}
