.weater-div {
  width: 120px;
  position: absolute;
  left: 40px;
  top: 60px;
}

.weather {
  color: #ffffff;
  position: absolute;
  // border: 2px solid red;
  display: flex;
  flex-direction: row-reverse;
}

.city-temprature {
  margin-top: 30px;
}

.temperature {
  font-weight: 600;
  margin-top: 8px;
}

.city {
  font-weight: 600;
  font-size: 20px;
}
