@import "./reset.scss";
@import "./timer.scss";
@import "./setting.scss";
@import "./quote.scss";
@import "./weather.scss";

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  // border: 2px solid blue;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.todos {
  position: absolute;
  border-radius: 10px;
  bottom: 5em;
  right: 50px;
  border: 2px solid #07eff8;
  width: 20%;
  background: #000000e8;
  color: #fff;
}

.start-todo {
  font-size: 18px;
  text-align: center;
  margin: 10px;

  .hint {
    // margin: 2.5em 0;
    color: #07eff8;
  }

  .start-btn {
    margin: 1.5em auto;
    text-align: center;
    padding: 10px;
    width: 130px;
    outline: none;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background: #03a9f4;

    &:hover {
      cursor: pointer;
    }
  }

  .inbox {
    font-size: 30px;
  }
}
.drop-down {
  position: relative;
  display: none;
  margin-bottom: 1.5em;
  margin-left: 4px;
  width: fit-content;
}

.inbox-down-arrow {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;

  &:hover {
    background-color: #575454e8;
  }
}

.fa-caret-down {
  color: #918c8c;
}

.drop-down-btn {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 15px;
  border-radius: 4px;
  background: #222222;

  .op-btn {
    padding: 5px;
    background: none;
    color: #fff;
    outline: none;
    text-align: left;
    font-size: 15px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  #completed {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.new-todo {
  display: none;
  font-size: 20px;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 3px;
  outline: none;
  border: none;
  background: none;
  color: #fff;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 5px auto;
  background: #2a2929;
  width: 95%;
  border-radius: 3px;

  p:first-of-type {
    font-size: 18px;
  }

  &:hover {
    .option {
      visibility: visible;
    }
  }
}

.section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;

  .ckbox {
    margin: 5px 15px 5px 3px;

    &:hover {
      cursor: pointer;
    }
  }

  .edit-todo {
    display: none;
    background: none;
    color: #fff;
    font-size: 20px;
    border: none;
    margin: 0 0 6px 0;
    outline: none;
    width: 100%;
  }
}

.section-2 {
  position: relative;
  display: flex;
  flex-direction: row;
}

.select {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  right: 30px;
  background-color: #272525f7;
  margin: 3px 5px;
  border-radius: 4px;

  button {
    background: none;
    color: #fff;
    outline: none;
    padding: 8px;
    width: 8em;
    font-size: 15px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .edit {
    border-bottom: 1px solid #fff;
  }
}

.hide {
  display: none;
}

.option {
  position: relative;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  visibility: hidden;
  // border: 2px solid red;

  &:hover {
    background-color: gray;
  }

  button {
    position: absolute;
    right: 1px;
    z-index: 2;
    background: none;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    z-index: 1;
    top: -2px;
    right: 4px;
    position: absolute;
    color: #fff;
    font-size: 20px;
  }
}

footer {
  position: absolute;
  bottom: 30px;
  left: 38%;
  z-index: 3;
}

nav {
  display: inline-flex;
  list-style: none;
}

li {

  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #000000;
  }

  i {
    font-size: 25px;
    color: #fff;
    margin: 0 20px;
    overflow: hidden;
  }
}

