@import "./reset.scss";
@import "./clock.scss";
@import "./App.scss";
@import "./todos.scss";
@import "./weather.scss";
@import "./quotes.scss";
@import "./configuration.scss";
@import "./pomodoro.scss";

footer {
  position: absolute;
  bottom: 1%;
  left: 38%;
  z-index: 200;
}

nav {
  display: inline-flex;
  list-style: none;
}

li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #000000;
  }

  a {
    font-size: 30px;
  }

  svg {
    color: #fff;
    margin: 0 20px;
    overflow: hidden;
  }
}
