.pomodoro {
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-40%, -43%);
  z-index: 200;

  margin: 0;
  color: #fff;
}

#timer {
  font-size: 4em;
  margin: 20px 0;
  font-weight: 700;

  .pomo-minute {
    margin-right: 30px;
    margin-left: 20px;
  }

  .pomo-seconds {
    margin-left: 30px;
  }
}

#functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    font-size: 1.5em;
    background: none;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: none;
    margin: 0 15px;
    width: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .start {
    background-color: #44f10985;
  }

  .stop {
    background-color: #ff0000a3;
  }

  .pause {
    background-color: #ffff0099;
  }
}
